set default=0
set timeout=5

menuentry "GARUDA Physical Defense Agent — Mode 2: Live Forensic Triage (RAM Root)" {
    linux /boot/vmlinuz-lts alpine_dev=LABEL=GARUDA_BOOT modules=loop,squashfs,sd-mod,usb-storage modloop=/boot/modloop-lts quiet copytoram
    initrd /boot/initramfs-lts
}

menuentry "GARUDA Physical Defense Agent — Mode 1: Host Monitor (Persistent LUKS)" {
    linux /boot/vmlinuz-lts alpine_dev=LABEL=GARUDA_BOOT modules=loop,squashfs,sd-mod,usb-storage modloop=/boot/modloop-lts quiet
    initrd /boot/initramfs-lts
}
